.root{
    -fx-background-color: beige;
}



.button{
    -fx-background-color: darkgrey;
}

.label{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.text-field{
    -fx-text-fill: white;
    -fx-background-color: darkgrey;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.list-view{
    -fx-background-color: orange;
    -fx-border-width: 2px;
    -fx-border-color: darkorange;
}

.chybaLabel{
    -fx-text-fill: white;
    -fx-background-color: red;
}

